<div style="
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
font-family:Arial, Helvetica, sans-serif;
color:white;
">

  <div style="
  width:420px;
  background:#1e293b;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
  text-align:center;
  ">

    <div style="
    font-size:55px;
    margin-bottom:20px;
    ">
      🚀
    </div>

    <h1 style="
    margin:0;
    font-size:32px;
    ">
      AWS DevOps App
    </h1>

    <p style="
    color:#94a3b8;
    margin-top:10px;
    font-size:16px;
    ">
      Successfully deployed using Angular + AWS + GitHub Actions
    </p>

    <div style="
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
    ">

      <a href="https://angular.dev" target="_blank" style="
      background:#2563eb;
      padding:8px 14px;
      border-radius:30px;
      font-size:14px;
      color:white;
      text-decoration:none;
      ">
        Angular
      </a>

      <a href="https://aws.amazon.com/s3/" target="_blank" style="
      background:#16a34a;
      padding:8px 14px;
      border-radius:30px;
      font-size:14px;
      color:white;
      text-decoration:none;
      ">
        AWS S3
      </a>

      <a href="https://aws.amazon.com/cloudfront/" target="_blank" style="
      background:#ea580c;
      padding:8px 14px;
      border-radius:30px;
      font-size:14px;
      color:white;
      text-decoration:none;
      ">
        CloudFront
      </a>

      <a href="https://github.com/features/actions" target="_blank" style="
      background:#7c3aed;
      padding:8px 14px;
      border-radius:30px;
      font-size:14px;
      color:white;
      text-decoration:none;
      ">
        GitHub Actions
      </a>

    </div>

    <div style="
    margin-top:35px;
    background:#0f172a;
    padding:18px;
    border-radius:12px;
    border:1px solid #334155;
    ">

      <p style="margin:0;font-size:14px;color:#94a3b8;">
        Developer
      </p>

      <h2 style="
      margin-top:10px;
      margin-bottom:0;
      font-size:24px;
      ">
        Hariom Choudhary
      </h2>

    </div>

  </div>

</div>